@tailwind base;

@tailwind components;

@tailwind utilities;

body{
  background-color: hsl(235, 44%, 95%);
}
#root {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.card {
  background: linear-gradient( #ccfbf1, #ccfbf1) padding-box, linear-gradient(to right, #bae6fd, #bae6fd) border-box;
  /* background: linear-gradient( #ccfbf1, #ccfbf1) padding-box, linear-gradient(to right, #94a3b8, #64748b) border-box; */
}
